<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" domain=".cloudapp.net" requireSSL="false" name=".ASPXFORMSAUTH" protection="All" path="/" timeout="30" cookieless="UseCookies" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <machineKey compatibilityMode="Framework20SP2" validation="SHA1" decryption="AES" validationKey="8E0BBA722C2C8091455224A3A2FC1C7218BBD5AAE4577B6C2FB86E1AF1964AA98B54B2EF6792785C9178AB2ACEDF775019C248F1D37FC7A5316DC577D528ADA8" decryptionKey="8FB21868EF25E5294B7A6505A5C321B7720F2C47D01ACB9D0BC11BB5B0455E4A" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>